@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  vertical-align: center;
  text-align: center;
}

body,
html {
  scroll-behavior: smooth;
  font-family: "Noto sans", sans-serif;
  font-size: 15px;
}

/*-------DESKTOP VERSION------------*/
@media screen and (min-width: 700px) {
  .top-nav {
    display: none;
  }
  .bottom-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
    background-color: white;
  }
  .bottom-nav a {
    transition: 0.4s ease-in-out;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
  }
  .bottom-nav button {
    padding: 0.5vw 3vw;
    margin-right: 2vw;
    border-radius: 20px;
    background-color: #1c521e;
    border: 0;
    transition: 0.4s ease-in-out;
  }
  .bottom-nav button a {
    color: white;
  }
  .bottom-nav button:hover {
    background-color: black;
  }
  .header_section {
    display: flex;
    align-items: center;
  }
  .header_item {
    padding: 0.5vw 2vw;
  }
  .header_item:hover a {
    color: green;
  }
  .HeaderLogo {
    padding-top: 1%;
  }
  #intro {
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    padding: 20% 10%;
  }
  #intro h1 {
    width: 50%;
    color: white;
    font-size: 2.5rem;
  }
  #intro p {
    margin-top: 5%;
    width: 50%;
    font-size: 1.5rem;
    color: white;
  }
  #tov {
    display: flex;
    flex-direction: row;
    background-image: url(../img/bgOne.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
  }
  #tov .tovImg img {
    width: 30vw;
  }
  #tov .tovText {
    padding: 0 5%;
  }
  #tov .tovText h1 {
    font-size: 1.5rem;
  }
  #tov .tovText h2 {
    margin-top: 5%;
    font-size: 1.2rem;
  }
  #tov .tovText ul {
    margin-top: 40%;
    margin-left: 10%;
    list-style-image: url(../img/Group\ 198.svg);
  }
  #whiteManMobile {
    display: none;
  }
  #whiteMan {
    background-image: url(../img/whiteManTwo.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    text-align: left;
    padding: 1% 0;
  }
  #whiteMan h2,
  #whiteMan p {
    color: white;
  }
  #whiteMan p {
    font-size: 1.2rem;
    margin-top: 2%;
  }
  #whiteMan h2 {
    text-align: left;
    font-size: 2rem;
  }
  #whiteMan .derat {
    text-align: left;
    padding: 1%;
    background-color: rgba(92, 130, 93, 0.5);
    margin: 5% 0;
    margin-left: 40vw;
    width: 30vw;
  }
  #whiteMan .desinf {
    text-align: left;
    padding: 1%;
    background-color: rgba(92, 130, 93, 0.5);
    margin: 5% 0;
    margin-left: 55vw;
    width: 30vw;
  }
  #whiteMan .desinc {
    text-align: left;
    padding: 1%;
    background-color: rgba(92, 130, 93, 0.5);
    margin: 5% 0;
    margin-left: 45vw;
    width: 30vw;
  }
  #whiteMan .whiteText {
    width: 50vw;
    text-align: right;
    margin-left: 45vw;
  }
  #whiteMan .whiteText h1 {
    color: white;
  }
  #whiteMan .whiteText button {
    padding: 0 3vw;
    margin: 1vw 0;
    border-radius: 30px;
    background-color: #1c521e;
    border: 0;
    transition: 0.4s ease-in-out;
  }
  #whiteMan .whiteText button button:hover {
    background-color: black;
  }
  #whiteMan .whiteText button a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }
  #haccpMobile {
    display: none;
  }
  #haccp {
    text-align: center;
    background-image: url(../img/bgTwo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 15%;
  }
  #haccp h1 {
    font-size: 2rem;
  }
  #haccp p {
    font-size: 1.5rem;
    margin-top: 5%;
  }
  #contactsMobile {
    display: none;
  }
  #contacts {
    text-align: center;
    background-image: url(../img/bgThree.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 10%;
  }
  #contacts span {
    color: #1c521e;
  }
  #contacts p {
    font-size: 1.5rem;
    margin-top: 2%;
  }
  #contacts a {
    text-decoration: none;
    color: #1c521e;
  }
  #contacts .mail {
    transition: 0.4s ease-in-out;
    color: black;
  }
  #contacts .mail:hover {
    color: #1c521e;
  }
  #contacts .wrapper {
    display: flex;
    flex-direction: row;
  }
  #contacts .contacts {
    width: 33.3%;
  }
  #contacts img {
    margin: 5% 0;
    width: 80%;
  }
}
/*-------MOBILE VERSION-------*/
@media screen and (max-width: 700px) {
  .bottom-nav {
    display: none;
  }
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00baf0;
    background: white;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(17, 21, 28);
    height: 50px;
    padding: 1em;
  }
  .top-nav a {
    text-decoration: none;
    color: white;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle {
    display: none;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #1c521e;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(234, 223, 223, 0);
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
}
@media screen and (max-width: 700px) and (max-width: 700px) {
  .nav {
    display: none;
    visibility: hidden;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
@media screen and (max-width: 700px) {
  #intro {
    height: 100vh;
    width: 100%;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: initial;
    background-position: 53% 70%;
    padding: 30% 15%;
    text-align: center;
  }
  #intro h1 {
    font-size: 2rem;
    margin: 0 auto;
    color: white;
  }
  #intro p {
    margin-top: 15%;
    font-size: 1.5rem;
    color: white;
    font-weight: 500;
  }
}
@media screen and (max-width: 700px) {
  #tov {
    text-align: center;
    background-image: url(../img/bgOne.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
  }
  #tov .tovImg img {
    margin-top: 10%;
    width: 40vw;
  }
  #tov .tovText h1 {
    line-height: 1.75rem;
    margin-top: 15vh;
    font-size: 1.25rem;
    letter-spacing: 6%;
  }
  #tov .tovText h2 {
    text-align: center;
    margin-top: 15vh;
    font-size: 1.25rem;
  }
  #tov .tovText ul {
    list-style-position: inside;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    margin-top: 15vh;
    list-style-image: url(../img/Group\ 198.svg);
  }
  #tov .tovText li {
    font-size: 1rem;
    text-align: left;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  #whiteMan {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  #whiteManMobile {
    background-image: url(../img/whiteManTwo.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: initial;
    background-position: center;
    padding: 10%;
    text-align: center;
  }
  #whiteManMobile h2,
  #whiteManMobile p {
    text-align: left;
    color: white;
    font-size: 1rem;
  }
  #whiteManMobile h2 {
    text-align: left;
  }
  #whiteManMobile .derat {
    border-radius: 2vw;
    padding: 1% 2%;
    background-color: rgba(92, 130, 93, 0.5);
    margin: 20% 0;
    width: 100%;
  }
  #whiteManMobile .desinf {
    border-radius: 2vw;
    padding: 1% 2%;
    background-color: rgba(92, 130, 93, 0.5);
    margin: 20% 0;
    width: 100%;
  }
  #whiteManMobile .desinc {
    border-radius: 2vw;
    padding: 1% 2%;
    background-color: rgba(92, 130, 93, 0.5);
    margin: 20% 0;
    width: 100%;
  }
  #whiteManMobile .whiteText {
    width: 100%;
    text-align: center;
    text-align: right;
  }
  #whiteManMobile .whiteText h1 {
    text-align: right;
    font-size: 1rem;
    color: white;
  }
  #whiteManMobile .whiteText button {
    padding: 0.5vw 3vw;
    margin: 2vw 0;
    margin-bottom: 5vw;
    border-radius: 20px;
    background-color: #1c521e;
    border: 0;
    transition: 0.4s ease-in-out;
  }
  #whiteManMobile .whiteText button a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 700px) {
  #haccp {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  #haccpMobile {
    text-align: center;
    background-image: url(../img/bgTwo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10% 15%;
  }
  #haccpMobile h1 {
    font-size: 1.5rem;
  }
  #haccpMobile p {
    font-size: 1rem;
    margin-top: 5%;
  }
}
@media screen and (max-width: 700px) {
  #contacts {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  #contactsMobile {
    text-align: center;
    background-image: url(../img/bgThree.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15% 5%;
  }
  #contactsMobile .wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;
  }
  #contactsMobile h1 {
    font-size: 1rem;
  }
  #contactsMobile h2 {
    font-size: 0.75rem;
  }
  #contactsMobile p {
    font-size: 1rem;
    margin-top: 2%;
  }
  #contactsMobile a {
    text-decoration: none;
    color: #1c521e;
  }
  #contactsMobile .mail {
    color: black;
  }
  #contactsMobile .mail:hover {
    color: #1c521e;
  }
  #contactsMobile .contacts {
    width: 100%;
  }
  #contactsMobile img {
    margin: 5% auto;
    width: 100%;
  }
  #contactsMobile span {
    color: #1c521e;
  }
  #contactsMobile .filiali {
    text-align: left;
    margin-top: 15%;
  }
  #contactsMobile .filiali p {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
